body {
  font-size: 24px;
  background-color: #A1A1A1;
}

h1 {
  color: black;
  margin-left: 20px;
  text-align: center;
}

.inleiding{
 background-color:#D4CB81; 
  text-align: center;
  padding:5% 20%;
}


