body {
  font-size: 24px;

   background-image: url("img/cursedachtergrond.jpg");
  backround-repeat: no-repeat;
  backround-size: 100% 100%;
}

h1 {
  
  text-shadow: 1,5px 1,5px 50px #670073;
  font-size:100px;
  color: black;
  margin-left: 20px;
  text-align: center;
}

.inleiding{
 background-color:#76B6C4; 
  text-align: center;
  padding:5% 20%;
  margin-left:10%;
   margin-right:10%
}


